In [1]:
import numpy as np
import pandas as pd #importing necessary libraries

In [2]:
from pybaseball import pitching_stats_bref #using pybaseball to get season stats for pitcher

In [3]:
pitching_data_2016=pitching_stats_bref(2016)

In [4]:
pitching_data_2017=pitching_stats_bref(2017)
pitching_data_2018=pitching_stats_bref(2018)
pitching_data_2019=pitching_stats_bref(2019)

In [5]:
pitching_data_2016['Season']=2016
pitching_data_2017['Season']=2017
pitching_data_2018['Season']=2018 #adding season column to distinguish between years
pitching_data_2019['Season']=2019

In [6]:
pitching_2016_to_2019_df=pd.concat([pitching_data_2016,pitching_data_2017,pitching_data_2018,pitching_data_2019])

In [7]:
pitching_2016_to_2019_df.shape #pitching season data 2016-2019

(3127, 41)

In [8]:
pitching_data_2015=pitching_stats_bref(2015) #adding 2014 and 2015 season pitching data
pitching_data_2014=pitching_stats_bref(2014)

In [9]:
pitching_data_2014['Season']=2014
pitching_data_2015['Season']=2015

In [10]:
pitching_data_2014_2015=pd.concat([pitching_data_2014,pitching_data_2015])

In [11]:
pitching_data_2014_2015.loc[(pitching_data_2014_2015['IP']>50) & (pitching_data_2014_2015['GS']>4)].shape

(399, 41)

In [12]:
pitching_2016_to_2019_df.to_csv('Pitching_season_data_2016_to_2019.csv')

In [13]:
pitching_2016_to_2019_df.columns

Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L', 'SV', 'IP',
       'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B', '3B', 'IBB',
       'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL', 'StS',
       'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'Season'],
      dtype='object')

In [14]:
pitching_data_2016.loc[(pitching_data_2016['ERA']<3) & (pitching_data_2016['GS']>=5),['Name','ERA']]

                  Name   ERA
28          Alec Asher  2.28
85   Madison Bumgarner  2.74
141      Jharel Cotton  2.15
145       Johnny Cueto  2.79
169     Chris Devenski  2.16
211     Jose Fernandez  2.85
278    Robert Gsellman  2.42
282      Junior Guerra  2.81
307     Kyle Hendricks  2.13
317          Rich Hill  2.12
337    Raisel Iglesias  2.53
362    Clayton Kershaw  1.68
391         Jon Lester  2.44
408          Seth Lugo  2.67
467    Mike Montgomery  2.52
547       David Phelps  2.28
578         Alex Reyes  1.57
582   Garrett Richards  2.34
584       Tanner Roark  2.83
631       Max Scherzer  2.96
683   Noah Syndergaard  2.60

In [15]:
df=pd.read_csv('Pitching_season_data_2016_to_2019.csv')

In [16]:
df.dtypes

Unnamed: 0      int64
Name           object
Age             int64
#days           int64
Lev            object
Tm             object
G               int64
GS              int64
W             float64
L             float64
SV            float64
IP            float64
H               int64
R               int64
ER              int64
BB              int64
SO              int64
HR              int64
HBP             int64
ERA           float64
AB              int64
2B              int64
3B              int64
IBB             int64
GDP             int64
SF              int64
SB              int64
CS              int64
PO              int64
BF              int64
Pit             int64
Str           float64
StL           float64
StS           float64
GB/FB         float64
LD            float64
PU            float64
WHIP          float64
BAbip         float64
SO9           float64
SO/W          float64
Season          int64
dtype: object

In [17]:
df=df.loc[(df['IP']>50) & (df['GS']>4)] #only collecting Starting pitchers meeting criteria

In [18]:
df_2=pitching_data_2014_2015.loc[(pitching_data_2014_2015['IP']>50) & (pitching_data_2014_2015['GS']>4)]

In [19]:
df=pd.concat([df,df_2]) #final dataframe for starting pitchers season data 2014-2019

In [20]:
df.shape # about 1200 rows and 40 columns in df

(1198, 42)

In [21]:
df.columns

Index(['Unnamed: 0', 'Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L',
       'SV', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B',
       '3B', 'IBB', 'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL',
       'StS', 'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'Season'],
      dtype='object')

In [22]:
df.drop(axis=1,labels='Unnamed: 0',inplace=True) #getting rid of meaningless column

In [23]:
df.shape

(1198, 41)

In [24]:
df.Season.unique()

array([2016, 2017, 2018, 2019, 2014, 2015])

In [25]:
df.to_csv('Pitching_season_data_2014_to_2019.csv') #saving final df to a csv

In [27]:
df.columns

Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L', 'SV', 'IP',
       'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B', '3B', 'IBB',
       'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL', 'StS',
       'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'Season'],
      dtype='object')

In [28]:
df.shape #final shape of dataframe to be combined with statcast and fangraph data

(1198, 41)